.full-width-image-content-blocks {
    padding: 0;

    &__wrapper {
        max-width: 650px;
        margin: 0 auto;

        hr {
            border-color: $teal;
        }

        @media screen and (min-width: $laptop) {
            max-width: unset;

            .col {
                &--content {
                    width: 65%;
                }

                &--image {
                    width: 35%;
                    align-self: stretch;
                }
            }
        }

        @media screen and (min-width: $laptop) {
            .col {
                &--content {
                    width: 65%;
                }

                &--image {
                    width: 35%;
                    align-self: stretch;
                }
            }
        }
    }

    &__block {
        @media screen and (min-width: $laptop) {
            margin: 4rem 0;
        }
    }

    &__image {
        img {
            aspect-ratio: 1/1;
            object-fit: cover;
        }
        @media screen and (min-width: $laptop) {
            position: relative;
            height: 100%;
            width: 100%;

            img {
                aspect-ratio: 13 / 19;
                //position: absolute;
                inset: 0;
                height: 100%;
                width: 100%;
                aspect-ratio: unset;
            }
        }
    }

    &__content {
        padding: 1.5rem;
        @media screen and (min-width: $laptop) {
            padding: calc(100vw * 0.05);
        }
    }

    
}