.image-content-blocks {
    @media screen and (max-width: $laptop - 1) {
        overflow: visible;
        padding-top: 0;
    }
    .section-header {
        position: relative;
        z-index: 2;
        margin-bottom: 2rem;
        line-height: 1.2;

        .section-title {
            margin-bottom: 0.75rem;
        }

        @media screen and (min-width: $laptop) {
            max-width: 750px;
            margin: 0 auto 3rem;
        }

        @media screen and (min-width: $desktop) {
            font-size: 1.5rem;

            .btn {
                font-size: 1.25rem;
            }
        }
    }

    &__float-image {
        position: absolute;

        @media screen and (min-width: $laptop) {
            top: 0;
            left: 0;
            transform: translate(-50%, -60%);
            width: 25%;
        }

        @media screen and (min-width: $desktop_lg) {
            width: 33%;
            transform: translate(-80%, -70%);
        }

        @media screen and (max-width: $laptop - 1) {
            &--top {
                position: relative;
                width: 100%;
                max-width: 280px;
                margin-left: auto;
                margin-right: auto;
                margin-top: -140px;
                margin-bottom: 1rem;
            }
        }
    }

    &__block {
        margin-bottom: 1.5rem;

        &--image {
            margin-bottom: 1rem;
        }

        @media screen and (min-width: $laptop) {
            &:nth-of-type(even) {
                .content {
                    padding-left: 3rem;
                }
            }

            &:nth-of-type(odd) {
                .content {
                    padding-right: 3rem;
                }
            }

            .col {
                &--image {
                    width: 45%
                }

                &--content {
                    width: 55%
                }
            }
        }
    }

}