.logos-video-section {
    position: relative;

    .svg-icon {
        &--wave {
            position: absolute;
            left: 0;
            top: 0;
            transform: translateY(-20%);
            width: 100%;
            height: auto;
            z-index: -1;

            @media screen and (max-width: $tablet) {
                width: 200%;
                transform: scale(1.5);
            }

            .positioner {
                position: relative;
            }
        }
    }

    .logos-slider {
        --swiper-theme-color: #fff;
        padding: 1.5rem 2rem;
        .swiper-slide {
            height: auto;
        }

        .swiper-button-next {
            right: 0;
        }

        .swiper-button-prev {
            left: 0;
        }

        .swiper-pagination {
            
            bottom: 0;
        }
    }

    .video-section {
        &__title {
            color: $white;
            margin-bottom: 1.5rem;
        }

        &__iframe {
            aspect-ratio: 16/9;
            border-radius: 35px;
            overflow: hidden;

            img,
            iframe {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
            }
        }

        &__play {
            position: absolute;
            height: 100%;
            width: 100%;
            align-items: center;
            justify-content: center;

            .svg-code {
                height: 4rem;
                width: 4rem;
            }
        }
    }
}