.hero {
    background-size: cover;
    background-position: center;
    overflow: visible;
    margin-top: 0 !important;

    @media screen and (max-width: $tablet) {
        padding-bottom: 0;
    }

    &__wrapper {
        overflow: hidden;
    }

    &__float-image {
        position: relative;
        z-index: 5;
        width: 80%;
        margin: 0 auto;

        img {
            width: 100%;
        }

        @media screen and (min-width: $laptop) {
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(15%, 45%);
            width: 30%;
            margin: unset;
        }

        @media screen and (min-width: $desktop) {
            transform: translate(10%, 45%);
        }
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: rgba($color: $xdgray, $alpha: 0.6);
        @media screen and (min-width: $laptop){
            background-color: rgba($color: $xdgray, $alpha: 0.3);
        }
    }

    .container {
        padding: 3rem 0 4rem;
        z-index: 2;
        line-height: 1.2;

        @media screen and (min-width: $laptop) {
            max-width: 960px;
        }

        @media screen and (min-width: $desktop_lg) {
            padding: 4rem 0 5rem
        }
    }

    h1 {
        position: relative;
        color: $white;

        @media screen and (min-width: 1600px) {
            font-size: 3.25rem;
        }
    }

    &__content {
        position: relative;
        margin-top: 1.5rem;
        color: $white;
        font-weight: 500;

        @media screen and (min-width: $laptop) {
            font-size: 1.4rem;
            width: 75%;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .svg-icon {
        &--curve {
            position: absolute;
            left: 0;
            bottom: 0;
            transform: translateY(65%);
            width: 100%;
            height: auto;

            .positioner {
                position: relative;
            }
        }
    }

    &__shadow {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: auto;
        opacity: 0.5;
    }

    &__usps {
        background-color: $green;
        padding: 1.5rem 0 1.5rem;
        --swiper-theme-color: #fff;
        --swiper-pagination-bullet-inactive-color: #fff;
        .swiper-pagination {
            bottom: 0;
        }
        &--wrapper {
            padding-bottom: 2rem;
        }

        @media screen and (min-width: $tablet) {
            padding: 1rem 0 3rem;
        }

        @media screen and (min-width: $laptop) {
            padding-top: 0;

            .container {
                max-width: 1000px;
            }
        }

        @media screen and (max-width: $laptop - 1) {
            padding-bottom: 160px;
        }

        &--block {
            color: $white;
    
            @media screen and (min-width: $tablet) {
                padding: 1rem;
                width: calc(30% - 3rem);
                margin: 0 1.5rem;
            }
        }

        &--icon {
            margin-bottom: 0.5rem;

            @media screen and (min-width: $laptop) {
                height: 170px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    max-height: 100%;
                    width: auto;
                    max-width: 100%;
                }
            }

            img {
                margin: 0 auto;
            }
        }

        &--text {
            text-transform: uppercase;
            text-wrap: balance;
            font-weight: bold;
            line-height: 1.1;
            width: 70%;
            margin: 0 auto;
            @media screen and (min-width: $laptop) {
                font-size: 1.25rem;
                width: 100%;
            }
        }

        .svg-icon {
            &--bottom-curve {
                position: absolute;
                left: 0;
                bottom: 0;
                transform: translateY(65%);
                width: 100%;
                height: auto;

                @media screen and (min-width: $laptop) {
                    transform: translateY(80%);
                }

                .positioner {
                    position: relative;
                }
            }
        }
    }
}