.gheader {
    z-index: 10;
    margin: 0;
    background-color: $teal;
    

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &-content {
        padding: .75rem 1rem;
    }

    &__logo {
        z-index: 100;
        max-width: 180px;
        transition: max-width ease 400ms;
    }

    &.sticky {
        position: sticky;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        border-bottom: 1px solid transparent;
        transition: background .15s ease, box-shadow .15s ease, border-color .15s ease;
        box-shadow: 50px 0 50px rgba($color: $teal, $alpha: 0.80);

        &--scrolled {
            @include box-shadow;
            margin: 0;
            .gheader__logo {
                max-width: 150px;
            }
        }
    }
}

@media (max-width: $mobile - 1) {
    .gheader {
        &__logo {
            max-width: 200px;
        }
    }
}

@media (max-width: $laptop - 1) {
    .gheader {

        &__logo {
            margin-right: auto;

            svg, img {
                max-height: 46px;
            }
        }
    }
}